

<div class="container" style="width: 1000px;">

  <h3 class="d-flex justify-content-center">Norma Angular App</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark" style="width: 1000px;" >
    <ul class="navbar-nav">
      <li class="navbar-item">
        <button routerLink="mrp-management" class="m-1 btn btn-light btn-outline-primary">
        MRP Yönetim Ekranı
        </button>
      </li>
      <li class="navbar-item">
        <button routerLink="shipment-management" class="m-1 btn btn-light btn-outline-primary">
        Sevkiyat Yönetimi
        </button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>